<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Selecione a funcionalidade desejada:</p>
    
    <ion-button size="small" expand="block" [routerLink]="['/listar-contatos']">Listar Contatos</ion-button>
    <ion-button size="small" expand="block" [routerLink]="['/adicionar-contato']">Adicionar Contatos</ion-button>
  </div>
</ion-content>
